* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #111725;
  padding: 30px;
  font-family: sans-serif;
}
.logo {
  display: flex;
  justify-self: start;
  align-items: center;
  color: #ffffff;
}
.logo img {
  width: 40px;
  height: 40px;
  background: #5acba4;
  padding: 0 3px;
  margin: 0;
  border-radius: 50%;
  margin-right: 8px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 0 100px;
  position: relative;
}
.main {
  background: #5acba4;
  width: 750px;
  margin-top: 50px;
}
.man {
  width: 100%;
  mix-blend-mode: luminosity;
}
.info {
  position: absolute;
  bottom: 0;
  background: #111725;
  width: 750px;
  color: #ffffff;
}
.info h1 span {
  color: #5acba4;
}
